* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    background-image: url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h2 {
    text-align: center;
    font-size: 28px;
    color: #022095;
    margin-top: 60px;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  table th,
  table td {
    padding: 12px;
    text-align: center;
  }
  
  table th {
    background-color: #333;
    color: white;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    margin: 5px;
  }
  
  table a:hover {
    background-color: #555;
  }
  
  .center-button {
    text-align: center;
    margin-top: 20px;
  }
  
  #btn{
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #btn:hover{
    background-color: #555;
  }
  
  @media (max-width: 768px) {
    table {
      width: 100%;
    }
  }